body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    width: 320px;
    margin: 80px auto;
    padding: 20px;
    background: white;
    text-align: center;
    border-radius: 10px;
}

input, select {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

/* KARANLIK MOD TEMASI */
body.dark-mode {
    background-color: #121212;
    color: #f5f5f5;
}

body.dark-mode .container {
    background-color: #1e1e1e;
    box-shadow: 0 0 10px rgba(255,255,255,0.1);
}

body.dark-mode input,
body.dark-mode select,
body.dark-mode button {
    background-color: #2c2c2c;
    color: #f5f5f5;
    border: 1px solid #555;
}

body.dark-mode button:hover {
    background-color: #444;
}

